<div class="fixed">
  <div class="form-demo">
    <!-- 旋转开关 -->
    <input type="checkbox" style="display: none;" id="change">
   

    <div class="turn">
      <div class="over">
        <form action="" class="login">
          <h1>欢迎回来<label for="change"> <span nz-icon nzType="user-add" nzTheme="outline"></span></label></h1>
          <input type="text" placeholder="用户名">
          <input type="password" placeholder="密码">
          <input type="submit" class="btn" value="登 录">
        </form>
        <form action="" class="sign">
          <h1>加入我们<label for="change"> <span nz-icon nzType="swap" nzTheme="outline"></span></label></h1>
          <input type="text" placeholder="用户名">
          <input type="password" placeholder="密码">
          <input type="password" placeholder="确认密码">
          <input type="submit" class="btn" value="注 册">
        </form>
      </div>
    </div>
  </div>
</div>
<canvas id="sakura"></canvas>