<div class="container-box">
  <div class="header">
    <div class="header-left">
      <span class="lasttime">上次登录: {{info.lasttimes}}</span>
    </div>
    <div class="header-right">
      <span class="name">{{info.name}}</span>
      <span class="poweroff">
        <label for="xlf">
          <span class="import" title="导入数据" nz-icon nzType="to-top" nzTheme="outline"></span>
        </label>
        <input [hidden]="true" type="file" name="xlfile" id="xlf" />
        &nbsp;&nbsp;
        <span nz-icon nzType="edit" nzTheme="outline" (click)="edit()"></span>
        &nbsp;&nbsp;
        <span nz-icon nzType="poweroff" nzTheme="outline" (click)="out()"></span>
      </span>
    </div>
  </div>
  <div class="section-box">
    <div class="content-details">
      <div class="table-left">
        <div nz-col nzSpan="24">
          <nz-date-picker nzMode="month" [nzAllowClear]="false" [(ngModel)]="selectDate" (ngModelChange)="onChange($event)"></nz-date-picker>
          &nbsp;
          <span class="total">该月总支出：{{monthTotall}}元</span>
          &nbsp;
          <span class="total">吃饭支出：{{eatMoney}}元</span>
          &nbsp;
          <span class="total otherMoneyTitle" [title]="otherMoneyTitle">其他支出：{{otherMoney}}元</span>
          &nbsp;
          <span class="export" title="导出当前页数据" nz-icon nzType="download" nzTheme="outline" (click)="downLoad()"></span>
          &nbsp;
        </div>
        <div nz-col nzSpan="24">
          <nz-table #basicTable [nzFrontPagination]="false" [nzScroll]="{ y: '195px' }" [nzShowPagination]="false" [nzData]="listOfDataTable">
            <thead>
              <tr>
                <th nzWidth="50px">日期</th>
                <th nzWidth="50px">消费</th>
                <th nzWidth="100px">明细</th>
                <th nzWidth="50px">操作</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of basicTable.data">
                <td>{{ data.day }}</td>
                <td>{{ data.money }}</td>
                <td>
                  <nz-tag *ngFor="let tag of data.details; let i = index">
                    {{ tag.type }}：{{tag.money}}
                  </nz-tag>
                </td>
                <td>
                  <a (click)="edit(data)">操作</a>
                </td>
              </tr>
            </tbody>
          </nz-table>
        </div>
      </div>
      <div class="table-right">
        <!-- <div nz-col nzSpan="24">
          <nz-table #yearTable [nzFrontPagination]="false" [nzScroll]="{ y: '200px' }" [nzShowPagination]="false" [nzData]="yearsTable">
            <thead>
              <tr>
                <th>月份</th>
                <th>消费</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of yearTable.data">
                <td>{{ data.month }}</td>
                <td>{{ data.total }}</td>
              </tr>
            </tbody>
          </nz-table>
        </div> -->
        <div echarts [options]="chartOptionYear" class="chart"></div>
      </div>
    </div>
    <div class="content-chart">
      <div echarts [options]="chartOption" class="chart"></div>
    </div>
  </div>
</div>
<!-- 弹框 -->
<nz-modal [(nzVisible)]="isVisible" [nzTitle]="title" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <div nz-row>
      <div nz-col nzSpan="8"> 
        <nz-date-picker [disabled]="isDisabled" [(ngModel)]="date"></nz-date-picker>
      </div>
      <div nz-col nzSpan="10">
        <input  placeholder="例: 早饭&20" nz-input [(ngModel)]="value" />
      </div>
      <div nz-col nzSpan="2">
       <span class="add" (click)="add()">+</span>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzSpan="20"> 
       <ul class="details-box">
        <li *ngFor="let item of options;let i=index">
          <span class="tag-box">
            <i class="type">{{item.type}}</i>
            <i class="money">{{item.money}}</i>
            <span nz-icon nzType="close" nzTheme="outline" (click)="delete(i)"></span>
          </span>
        </li>
       </ul>
      </div>
    </div>
  </ng-container>
</nz-modal>